.main-nav__logo-pink-white {
  margin-left: -72px;
  margin-top: 3px;
}

.main-nav {
  position: relative;
  margin-bottom: -69px;

  &--closed {
    background-color: rgba(0, 0, 0, 0.3);

    .main-nav__list {
      display: none;
    }

    .main-nav__icon-menu-cross {
      display: none;
    }

    .main-nav__icon-menu-burger {
      display: block;
    }
  }

  &--opened {
    margin-bottom: -66px;
    background-color: rgba(40, 54, 69, 1);

    .main-nav__list {
      display: block;
    }

    .main-nav__icon-menu-cross {
      display: block;
    }

    .main-nav__icon-menu-burger {
      display: none;
    }
  }

  &--nojs {
    background-color: rgba(40, 54, 69, 1);
    margin-bottom: -66px;

    .main-nav__list {
      display: block;
    }

    .main-nav__icon-menu-cross {
      display: none;
    }

    .main-nav__icon-menu-burger {
      display: none;
    }
  }
}

.main-nav__logo {
  width: 280px;
  padding: 0 20px;
  min-height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.main-nav__logo-link {
  color: white;

  svg {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: white;
    opacity: 0.3;
  }
}

.main-nav__menu-toggle {
  color: white;
  outline: none;

  svg {
    fill: currentColor;
  }
  position: relative;

  background-color: transparent;
  border: none;
  width: 50px;
  height: 69px;

  &:hover,
  &:focus {
    color: #d22856;
  }

  &:active {
    color: #5d344c;
  }
}

.main-nav__icon-menu-burger {
  position: absolute;
  top: 23px;
  left: 0;
}

.main-nav__icon-menu-cross {
  position: absolute;
  top: 20px;
  left: 27px;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-pink-white {
    margin-left: 0;
    margin-top: 3px;
  }

  .main-nav {
    position: relative;
    margin-bottom: -110px;

    &--opened {
      margin-bottom: -108px;
    }

    &--nojs {
      margin-bottom: -108px;
    }
  }

  .main-nav__logo {
    box-sizing: border-box;
    height: 110px;
    width: 660px;
    padding: 0 20px;
    padding-top: 25px;
  }

  .main-nav__logo-link {
    margin-top: 0;
  }

  .main-nav__icon-menu-burger {
    top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    position: static;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .main-nav__list {
      display: flex;
    }
  }

  .main-nav__navigation-wrapper {
    padding-top: 38px;
  }

  .main-nav__logo {
    width: 150px;
    padding: 0;
    padding-top: 25px;
  }

  .main-nav__menu-toggle {
    display: none;
  }
}
