.social {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  width: 150px;
  display: flex;
  margin: 0;
  //margin-bottom: 39px;
  margin-bottom: 44px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
}

.social__item {
  margin-right: 7px;
}

.social__copyright {
  width: 150px;
  display: flex;
}

.social__logo {
  width: 150px;
  margin-bottom: 65px;
}

.social__logo-link {
  position: relative;
  color: #283645;

  svg {
    fill: currentColor;
  }

  &:hover {
    color: #d22856;
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.social__logo-pink-blue-mobile {
  position: absolute;
  bottom: -10px;
}

.social__copyright-logo {
  text-decoration: none;
  color: #d22856;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 0 9px;
  padding: 0 8px;
  padding-right: 13px;
}

.social__text {
  color: #283645;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .social {
    flex-direction: row;
    justify-content: space-between;
  }

  .social__logo {
    margin-bottom: 0;
  }

  .social__list {
    width: 180px;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .social__item {
    margin-right: 0;
    border: 2px solid #e9ebec;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
      border-color: #283645;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .social__button {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .social__network-icon {
    position: absolute;

    &--twitter {
      left: 15px;
      top: 16px;
    }

    &--facebook {
      top: 12px;
      left: 20px;
    }

    &--youtube {
      top: 15px;
      left: 19px;
    }
  }


  .social__copyright-logo {
    padding: 0;
    color: #d22856;

    svg {
      fill: currentColor;
    }

    &:hover {
      color: #283645;
    }

    &:active {
      color: #283645;
      opacity: 0.3;
    }
  }

  .social__text {
    padding-left: 20px;
  }
}

.social__logo-pink-blue-desktop {
  display: none;
}

@media (min-width: @desktop-width) {
  .social {
    align-items: stretch;
  }

  .social__logo {
    padding-top: 7px;
  }

  .social__logo-pink-blue-mobile {
    display: none;
  }

  .social__logo-pink-blue-desktop {
    display: block;
  }

  .social__text {
    //padding-right: 10px;
    padding-right: 7px;
    padding-left: 0;
    font-size: 18px;
    line-height: 1;
  }

  .social__list {
    padding-top: 12px;
    margin-right: 8px;
    width: 190px;
  }

  .social__item {
    margin-left: 10px;
  }

  .social__copyright {
    width: 151px;
    padding-top: 6px;
  }

  .social__icon-htmlacademy {
    padding-top: 5px;
  }
}
