.footer {
  color: #283645;
}

.footer__intro-phrase {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
}

.footer__caption {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.footer__text {
  font-size: 24px;
  line-height: 0.75;
  font-weight: 300;
}
