.gallery__intro {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery__item {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  &--panorama {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: @tablet-width) {
  .gallery__intro {
    width: 620px;
    margin: 0 auto;
  }

  .gallery__photos-wrapper {
    width: 620px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 300px;
    padding: 0;

    &--panorama {
      width: 100%;
      padding: 0;
    }
  }

  .gallery__description {
    &--panorama {
      width: 620px;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery__intro {
    width: 940px;
  }

  .gallery__photos-wrapper {
    width: 940px;
  }

  .gallery__description {
    &--panorama {
      width: 940px;
    }
  }
}
