.header {
  background-color: #1d2631;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.header__logo {
  width: 280px;
  padding: 0 20px;
  min-height: 69px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.header__logo-link {
  display: flex;
}

.header__menu-toggle {
  background: url("../img/icon-menu-burger.svg") no-repeat center center;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 69px;
}

.header__content {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;

  &--index {
    background:
      url("../img/iphone-hand-mobile@1x.png") left 175px no-repeat,
      url("../img/bg-back-mobile@1x.jpg") no-repeat;
  }
}

.header__content-wrapper {
  width: 280px;
  padding: 0 20px;
  display: flex;
  justify-content: center;

  &--index {
    display: block;
  }
}

.header__content-title {
  margin-top: 96px;
  margin-bottom: 80px;
  width: 235px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.header__application {
  padding-top: 492px;
}

.header__content-intro {
  font-size: 38px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 31px;
  padding-bottom: 30px;
  text-align: center;
  color: #ffffff;
  display: none;
}

.header__list-wrapper {
  margin-top: 26px;
}

.header__text {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .header {
    width: 660px;
  }

  .header__logo {
    height: 110px;

    width: 620px;
    padding: 0 20px;
  }

  .header__content {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;

    &--index {
      background:
        url("../img/iphone-hand-tablet@1x.png") -20px 185px no-repeat,
        url("../img/bg-back-tablet@1x.jpg") no-repeat;
    }
  }

  .header__content-wrapper {
    width: 620px;
    padding: 0 20px;

    display: flex;
    justify-content: center;

    &--index {
      display: block;
    }
  }

  .header__application {
    width: 300px;
    padding-top: 92px;
  }

  .header__content-intro {
    display: block;
    padding-top: 110px;
  }

  .header__text {
    padding-bottom: 111px;
  }

  .header__content-title {
    width: 360px;
    margin-top: 132px;
    margin-bottom: 139px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    width: 1200px;
  }

  .header__content {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;

    &--index {
      background:
        url("../img/iphone-hand-desktop@1x.png") left 175px no-repeat,
        url("../img/bg-back-desktop@1x.jpg") no-repeat;
    }
  }

  .header__logo {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header__content-wrapper {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .header__content-title {
    margin-top: 63px;
    margin-bottom: 100px;
  }

  .header__content-intro {
    display: block;
  }

  .header__menu-toggle {
    display: none;
  }
}
