

.main-nav {
  position: relative;
  margin-bottom: -66px;


  &--closed {
    background-color: rgba(0, 0, 0, 0.3);

    .main-nav__list {
      display: none;
    }

    .header__menu-toggle {
      position: relative;
      //background: url("../img/icon-menu-burger.svg") no-repeat center center;
      background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='49.95' height='24.01'%3E%3Cpath fill='%23FFF' d='M1.14 0C.5 0 0 .43 0 1.01v1.98C0 3.55.5 4 1.14 4H48.8c.63 0 1.14-.43 1.14-1V1c0-.56-.5-1.01-1.14-1.01H1.14zm0 10C.5 10 0 10.43 0 11.01V13C0 13.55.5 14 1.14 14H48.8c.63 0 1.14-.42 1.14-1V11c0-.55-.5-1-1.14-1H1.14zm0 10C.5 20 0 20.43 0 21.02V23c0 .55.5 1 1.14 1H48.8c.63 0 1.14-.42 1.14-1v-1.98c0-.56-.5-1.02-1.14-1.02H1.14z'/%3E%3Cpath fill='%23FFF' d='M1.14 0C.5 0 0 .43 0 1.01v1.98C0 3.55.5 4 1.14 4H48.8c.63 0 1.14-.43 1.14-1V1c0-.56-.5-1.01-1.14-1.01H1.14zm0 10C.5 10 0 10.43 0 11.01V13C0 13.55.5 14 1.14 14H48.8c.63 0 1.14-.42 1.14-1V11c0-.55-.5-1-1.14-1H1.14zm0 10C.5 20 0 20.43 0 21.02V23c0 .55.5 1 1.14 1H48.8c.63 0 1.14-.42 1.14-1v-1.98c0-.56-.5-1.02-1.14-1.02H1.14z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 69px;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='49.95' height='24.01' fill='%23d22856'%3E%3Cpath d='M1.14 0C.5 0 0 .43 0 1.01v1.98C0 3.55.5 4 1.14 4H48.8c.63 0 1.14-.43 1.14-1V1c0-.56-.5-1.01-1.14-1.01H1.14zm0 10C.5 10 0 10.43 0 11.01V13C0 13.55.5 14 1.14 14H48.8c.63 0 1.14-.42 1.14-1V11c0-.55-.5-1-1.14-1H1.14zm0 10C.5 20 0 20.43 0 21.02V23c0 .55.5 1 1.14 1H48.8c.63 0 1.14-.42 1.14-1v-1.98c0-.56-.5-1.02-1.14-1.02H1.14z'/%3E%3Cpath d='M1.14 0C.5 0 0 .43 0 1.01v1.98C0 3.55.5 4 1.14 4H48.8c.63 0 1.14-.43 1.14-1V1c0-.56-.5-1.01-1.14-1.01H1.14zm0 10C.5 10 0 10.43 0 11.01V13C0 13.55.5 14 1.14 14H48.8c.63 0 1.14-.42 1.14-1V11c0-.55-.5-1-1.14-1H1.14zm0 10C.5 20 0 20.43 0 21.02V23c0 .55.5 1 1.14 1H48.8c.63 0 1.14-.42 1.14-1v-1.98c0-.56-.5-1.02-1.14-1.02H1.14z'/%3E%3C/svg%3E");
      }
    }
  }

  &--opened {
    background-color: rgba(40, 54, 69, 1);

    .main-nav__list {
      display: block;
    }

    .header__menu-toggle {
      position: relative;
      //background: url("../img/icon-menu-burger.svg") no-repeat center center;
      background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='23.87' height='23.87'%3E%3Cpath fill='%23FFF' d='M15.09 11.93l8.56-8.56c.29-.29.29-.76 0-1.06L21.55.22a.75.75 0 0 0-1.06 0l-8.56 8.56L3.37.22a.77.77 0 0 0-1.06 0L.22 2.32c-.3.29-.3.76 0 1.05l8.56 8.56L.22 20.5c-.3.3-.3.77 0 1.06l2.1 2.1a.74.74 0 0 0 1.05 0l8.56-8.56 8.56 8.56a.75.75 0 0 0 1.06 0l2.1-2.1c.29-.29.29-.77 0-1.06l-8.56-8.56z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 27px 21px;
      background-color: transparent;
      border: none;
      width: 50px;
      height: 69px;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg version='1' xmlns='http://www.w3.org/2000/svg' width='23.87' height='23.87'%3E%3Cpath fill='%23d22856' d='M15.09 11.93l8.56-8.56c.29-.29.29-.76 0-1.06L21.55.22a.75.75 0 0 0-1.06 0l-8.56 8.56L3.37.22a.77.77 0 0 0-1.06 0L.22 2.32c-.3.29-.3.76 0 1.05l8.56 8.56L.22 20.5c-.3.3-.3.77 0 1.06l2.1 2.1a.74.74 0 0 0 1.05 0l8.56-8.56 8.56 8.56a.75.75 0 0 0 1.06 0l2.1-2.1c.29-.29.29-.77 0-1.06l-8.56-8.56z'/%3E%3C/svg%3E");
      }
    }
  }

  &--nojs {
    background-color: rgba(40, 54, 69, 1);

    .main-nav__list {
      display: block;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: relative;
    margin-bottom: -110px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    position: relative;
    margin-bottom: -110px;
    padding: 0 122px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.3);

    .main-nav__list {
      display: flex;
    }
  }

  .main-nav__wrapper {
    padding-top: 38px;
  }
}
