.price {
  padding: 0 20px;
  padding-top: 88px;
  background-color: #f2f2f2;
  padding-bottom: 54px;
}

.price__toggles {
  text-align: center;
}

.price__table {
  width: 400%;
  border-collapse: collapse;

  position: relative;
  left: -200%;
}

.price__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 17px;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}


.price__header-cell {
  box-sizing: border-box;
  width: 235px;
  font-size: 18px;
  background-color: #283645;
  border-right: 2px solid #f2f2f2;
  color: #ffffff;

  &--first-cell {
    background-color: transparent;
    border: none;
  }

  &--hit {
    position: relative;

    &::before {
      content: "";
      background-image: url("../img/bg-hit.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 75px;
      height: 75px;
      position: absolute;
      left: 0;
    }

    &::after {
      content: "Хит";
      font-size: 14px;
      line-height: 2.1;
      font-weight: 300;
      color: white;
      -moz-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      text-transform: uppercase;
      width: 75px;
      height: 75px;
      position: absolute;
      left: 3px;
      top: 6px;
    }
  }
}

.price__field {
  box-sizing: border-box;
  width: 235px;
  font-size: 18px;
  text-align: right;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #e5e5e5;
  background-color: white;
}

.price__bold {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.price__option {
  position: absolute;
  left: 50%;
  padding-left: 23px;
  padding-top: 17px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .price {
    background-color: #f2f2f2;
    padding-top: 85px;
    padding-bottom: 23px;
    margin-bottom: 50px;
  }

  .price__table {
    width: 100%;
    position: static;
  }

  .price__caption {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  .price__bold {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 1.67;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }

  .price__option {
    position: static;
    background-color: white;
    font-size: 14px;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    text-transform: none;
    border: 2px solid #e5e5e5;
  }

  .price__header-cell {
    width: 150px;
    font-size: 16px;

    &--hit {
      &::before {
        content: "";
        background-image: url("../img/bg-hit-tablet.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 75px;
        height: 60px;
        position: absolute;
        left: 0;
      }

      &::after {
        left: -2px;
        top: -3px;
      }
    }
  }

  .price__field {
    width: 150px;
    font-size: 16px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    padding: 0;
    background-color: #f2f2f2;
    padding-top: 150px;
    padding-bottom: 94px;
    margin-bottom: 0;
  }

  .price__caption {
    margin-top: 17px;
    font-size: 18px;
    line-height: 1.67;
  }

  .price__option {
    font-size: 18px;
    padding-left: 21px;
    padding-top: 13px;
    padding-bottom: 16px;
  }

  .price__bold {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.25;
  }

  .price__header-cell {
    width: 235px;
    font-size: 18px;
    border-right: 2px solid #f2f2f2;

    &--first-cell {
      border: none;
    }
  }

  .price__field {
    width: 235px;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .price__table {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
    position: static;
  }
}
