.share {
  text-align: center;
  margin-bottom: 25px;
}

.share__intro-wrapper {
  padding-bottom: 41px;
}

.share__intro {
  margin: 0;
  line-height: 2.2;
  padding-right: 6px;
}

.share__image {
  //margin-bottom: 32px;
}

.share__publication-wrapper {
  background-color: #f2f2f2;
  width: 100%;
}

.share__publication {
  padding-top: 20px;
  padding-bottom: 25px;
}

.share__picture-wrapper {
  padding: 0;
  padding-bottom: 29px;
}

.share__form {
  padding: 0 20px;
}

.share__filters-wrapper {
  display: flex;
  flex-direction: column;
}

.share__filters {
  margin: 0;
  display: flex;
  justify-content: space-between;

  list-style: none;
  padding: 0 30px;
  padding-bottom: 11px;
}

.share__filter-button {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  color: #8d949b;
  opacity: 0.5;

  svg {
    fill: currentColor;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    color: #d22856;
    opacity: 1;
  }

  &--crop {
    //background-image: url("../img/icon-editor-crop.svg");
  }

  &--fill {
    //background-image: url("../img/icon-editor-fill.svg");
  }

  &--contrast {
    //background-image: url("../img/icon-editor-contrast.svg");
  }
}

.share__button {
  margin-bottom: 13px;
  width: 100%;
}

.share__range-wrapper {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 65px;

  &--mobile {
    display: none;
  }
}

.share__range {
  appearance: none;
  width: 100%;
  margin: 6px 0;

  &:focus {
    outline: none;

    &::-webkit-slider-runnable-track {
      background: rgba(49, 67, 85, 0.78);
    }

    &::-webkit-slider-thumb {
      background-color: #d22856;
    }

    &::-moz-range-thumb {
      background-color: #d22856;
    }
  }

  &:active {
    &::-webkit-slider-thumb {
      background-color: #d22856;
    }

    &::-moz-range-thumb {
      background-color: #d22856;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(40, 54, 69, 0.78);
    border-radius: 0;
    border: 0 solid #283645;
  }

  &::-webkit-slider-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    border: 1.5px solid #d22856;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #ffffff;
    cursor: pointer;
    appearance: none;//-webkit-
    margin-top: -6px;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    background: rgba(40, 54, 69, 0.78);
    border-radius: 0;
    border: 0 solid #283645;
  }

  &::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    border: 1.5px solid #d22856;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #ffffff;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: rgba(31, 41, 53, 0.78);
    border: 0 solid #283645;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  }

  &::-ms-fill-upper {
    background: rgba(40, 54, 69, 0.78);
    border: 0 solid #283645;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  }

  &::-ms-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    border: 1.5px solid #d22856;

    width: 14px;
    border-radius: 14px;
    background: #ffffff;
    cursor: pointer;
    height: 2px;
  }

  &:focus::-ms-fill-lower {
    background: rgba(40, 54, 69, 0.78);
  }

  &:focus::-ms-fill-upper {
    background: rgba(49, 67, 85, 0.78);
  }
}

@media (max-width: @tablet-width) {
  .share__range-wrapper {
    display: none;

    &--mobile {
      display: block;
    }
  }
}

@media (min-width: @tablet-width) {
  .share {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .share__intro {

    font-size: 18px;
    line-height: 1.7;
  }

  .share__intro-wrapper {
    width: 100%;
    padding-bottom: 68px;
  }


  .share__publication {
    display: flex;
    justify-content: space-between;
    width: 620px;
    padding: 0 20px;
    padding-top: 57px;
    padding-bottom: 18px;
  }

  .share__filters-wrapper {
    width: 300px;
    justify-content: left;
  }

  .share__filters-item {
    display: flex;
    padding-bottom: 33px;
  }

  .share__form {
    padding: 0;
  }

  .share__filters {
    padding-right: 0;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 51px;
  }

  .share__filter-button {
    height: 33px;
    margin-top: 6px;
  }

  .share__icon {
    width: 28px;
    height: 24px;

    &--contrast {
      width: 17px;
      height: 17px;
    }
  }

  .share__range-wrapper {
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 0;
    margin-bottom: 0;
  }

  .share__range {
    width: 201px;
  }

  .share__button {
    margin-bottom: 22px;
    width: 260px;
    margin-left: 27px;
    padding: 17px;
    padding-top: 14px;
    padding-left: 13px;
  }
}

@media (min-width: @desktop-width) {
  .share {
    //width: 940px;
    //padding: 0 130px;
  }

  .share__form {
    width: 410px;
  }
  /*
  .share__publication {
    padding: 0 80px;
    padding-top: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }*/
  .share__publication {
    width: 800px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 49px;
    margin: 0 auto;
  }

  .share__filters-wrapper {
    width: 410px;
    padding-bottom: 83px;
  }

  .share__picture-wrapper {
    padding-left: 10px;
    padding-top: 5px;
  }

  .share__filters {
    padding-left: 2px;
  }

  .share__filters-item {
    padding-bottom: 18px;
  }

  .share__filter-button {
    margin-top: 0;
    margin-right: 28px;
    width: 60px;
    height: 54px;
  }

  .share__icon {
    width: 50px;
    height: 50px;

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .share__range-wrapper {
    padding-top: 8px;
  }

  .share__range {
    width: 290px;
  }

  .share__buttons-wrapper {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .share__button {
    width: 185px;
    margin-bottom: 22px;
    margin-left: 10px;
    padding: 17px;
    padding-top: 14px;
    padding-left: 13px;
  }
}
