.site-list__item {
  text-decoration: none;
  list-style: none;
}

.site-list__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 1.77;
  font-weight: 700;
  text-transform: uppercase;
}
